<div class="login-background surface-ground flex align-items-center bg-color justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="container-fluid flex flex-column align-items-center justify-content-center">
        <div class="flex justify-content-center align-items-center mb-5 pt-1">
            <img src="assets/images/logo.png" alt="Logo" class="logo">
        </div>
        <div class="d-none d-sm-flex justify-content-center align-items-center mb-4 text-center">
            <h1 class="text-white" style="font-weight: bold; font-size: 5rem;">GOLERP</h1>
        </div>

        <div class="d-flex flex-wrap d-sm-none justify-content-center align-items-center mb-4 text-center">
            <h1 class="text-white" style="font-weight: bold;">GOLERP</h1>
        </div>


        <div class="d-flex flex-wrap col-md-4 lg:col-3 xl:col-3 pt-1 surface-card justify-content-center align-items-center"
            style="border-top-left-radius: 30px; border-top-right-radius: 30px; background-color: rgba(241, 241, 250, 1) !important;">
            
            <div class="container py-5 px-5 justify-content-between flex flex-column pt-3" style="z-index: 1000;">
                <div class="input-container" *ngIf="!mostrarDropdown">
                    <i class="pi pi-envelope"></i>
                    <input id="email1" [(ngModel)]="email" type="text" placeholder="Email" pInputText
                    class="w-full" style="padding:1rem; border-radius: 10px;">
                </div>

                <div class="input-container" *ngIf="!mostrarDropdown">
                    <i id="passIcon" class="pi pi-lock"></i>

                    <p-password id="password1" 
                        [(ngModel)]="senha" 
                        placeholder="Senha" 
                        [toggleMask]="true"
                        weakLabel="Simples" 
                        mediumLabel="Média" 
                        strongLabel="Excelente"
                        promptLabel="Digite a senha"
                        styleClass="mb-2 mt-3 w-full md:w-35rem d-none d-sm-flex" 
                        inputStyleClass="w-full p-3 md:w-35rem">
                    </p-password>
    
                    <p-password id="password1" 
                        [(ngModel)]="senha" 
                        placeholder="Senha" 
                        [toggleMask]="true" 
                        weakLabel="Simples" 
                        mediumLabel="Média" 
                        strongLabel="Excelente" 
                        promptLabel="Digite a senha"
                        styleClass="mb-2 mt-3 w-full md:w-30rem d-sm-none d-flex" 
                        inputStyleClass="w-full p-3 md:w-30rem rounded-3">
                    </p-password>
                </div>

                <button *ngIf="!mostrarDropdown" pButton pRipple label="Acessar" style="border-radius: 10px; color: var(--primary-color); z-index: 1000;"
                    class="text-white w-full p-2 text-xl mt-2" (click)="login()"></button>

                <div *ngIf="mostrarDropdown">
                    <div class="w-100">
                        <p-dropdown 
                            [options]="empresas" 
                            [(ngModel)]="empresaSelecionada" 
                            optionLabel="razaoSocial" 
                            placeholder="Selecione uma empresa"
                            class="w-100">
                            <ng-template let-item pTemplate="item">
                                <span class="truncate-text">{{ item.razaoSocial }}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    
                    
                
                    <button pButton pRipple label="Prosseguir" class="text-white w-full p-2 text-xl mt-2" style="border-radius: 10px; color: var(--primary-color); z-index: 1000;"
                    (click)="prosseguirComEmpresa()"></button>
                </div>

                <a class="flex align-items-center justify-content-center mb-7 pt-1 font-medium no-underline ml-2 text-right cursor-pointer"
                    (click)="loginFacial()" style="color: var(--primary-color)">Login Facial</a>

                <div class="flex align-items-center justify-content-center mt-5 text-center">
                    <small>
                        Adsoft Gestão Empresarial - v1.0.0
                        <p>&copy; 2018. TODOS OS DIREITOS RESERVADOS.</p>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>