<div class="container-fluid bg d-flex align-items-center py-5 px-5">
    <button class="p-reset text-white d-flex align-items-center" (click)="voltar()">
        <i class="pi pi-chevron-left"></i>
        <span class="ml-2 font-weight-bold">Voltar</span>
    </button>    
</div>
<div style="background-color: var(--primary-color);">
    <app-listagem-ordem
        [ordensServico]="ordensServico" 
        (scrollEvent)="handleScroll($event)"
        (cardSelecionado)="onCardSelecionado($event)">
    </app-listagem-ordem>
</div>