<div class="login-background surface-ground flex align-items-center bg-color justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="container-fluid flex flex-column align-items-center justify-content-center">
      <div class="flex justify-content-center align-items-center mb-5 pt-1">
          <img src="assets/images/logo.png" alt="Logo" class="logo">
      </div>
      <div class="container-fluid justify-content-center align-items-center">
        <div class="webcam-container">
          <div class="webcam-wrapper">
            <webcam
                #webcam
                [trigger]="triggerObservable"
                [videoOptions]="{ width: 640, height: 480 }"
            ></webcam>
          </div>
        </div>
      </div>
  </div>
</div>
