html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bg {
    background-color: var(--primary-color);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.responsivity {
    background-color: var(--bg-color);
    overflow: hidden;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    min-height: auto;
    display: flex;
    flex-direction: column;
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 28rem);
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.p-reset {
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.font-weight-bold { font-weight: bold;}

.iniciar-btn {
    position: relative;
    bottom: 0;
}

.info-card {
    display: grid;
    grid-template-columns: repeat(2, 29rem);
    gap: 10px;
    justify-content: center;
}

@media (max-width: 768px) {
    .content {
        width: 90%;
    }

    .info-card {
        grid-template-columns: repeat(2, 1fr);
    }
    .info-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
