.bg {
    background-color: var(--primary-color);
}

.responsivity {
    background-color: var(--bg-color);
    overflow: hidden;
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
}

.font-weight-bold {
    font-weight: bold;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 10px;
}

.p-reset {
    all: unset;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.info-card {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 0.4fr);
    gap: 10px;
    margin-top: -5px;
}

.quadrado-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.quadrado {
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icone-centralizado {
    width: 85px; 
    margin-bottom: -85px;
    font-size: 2.5rem;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .quadrado {
        width: 165px;
        height: 100px;
    }

    .marg-left {
        margin-left: 19px;
    }

    .icone-centralizado {
        font-size: 2rem;
        width: 50px;
        margin-bottom: -25px;
    }
}