<div class="grid pb-0 pt-0 d-none d-sm-flex justify-content-center padding-responsivity">
    <div class="lg:col-2 xl:col-2 pr-5 pl-5" *ngFor="let card of cards; let i = index">
        <div 
            class="card selectable-card" 
            [ngStyle]="{
                'background-color': card.color,
                'box-shadow': selectedCard === i ? '0px 4px 8px rgba(0, 0, 0, 0.2)' : 'none',
                'border': selectedCard === i ? '2px solid #000' : 'none'
            }"
            (click)="selectCard(i)">
            <h5 class="text-white text-center mb-1 responsivity">{{ card.label }}</h5>
        </div>
    </div>
</div>

<div class="grid pb-1 pt-2 d-flex flex-wrap d-sm-none" style="justify-content: space-evenly;">
    <div class="flex-column" *ngFor="let card of cards; let i = index">
        <div 
            class="card selectable-card" 
            [ngStyle]="{
                'background-color': card.color,
                'box-shadow': selectedCard === i ? '0px 4px 8px rgba(0, 0, 0, 0.2)' : 'none',
                'border': selectedCard === i ? '2px solid #000' : 'none'
            }"
            (click)="selectCard(i)"
            style="padding: 1.3rem !important;">
            <!-- <small class="text-wrap text-white text-center">{{ card.label }}</small> -->
        </div>
    </div>
</div>