<div class="grid pb-0 pt-2 d-none d-sm-flex justify-content-center">
    <div class="lg:col-3 xl:col-3 pr-5 pl-5">
        <div class="card" style="background-color: #6360FF;">
            <h4 class="text-white text-center mb-1">Novo</h4>
        </div>
    </div>
    <div class="lg:col-3 xl:col-3 pr-5 pl-5">
        <div class="card" style="background-color: #FFC960;">
            <h4 class="text-white text-center mb-1">Aguardando</h4>
        </div>
    </div>
    <div class="lg:col-3 xl:col-3 pr-5 pl-5">
        <div class="card" style="background-color: #6360FF;">
            <h4 class="text-white text-center mb-1">Em Andamento</h4>
        </div>
    </div>
    <div class="lg:col-3 xl:col-3 pr-5 pl-5">
        <div class="card text" style="background-color: #34C759;">
            <h4 class="text-white text-center mb-1">Finalizado</h4>
        </div>
    </div>
</div>

<div class="grid pb-1 pt-3 d-flex flex-wrap d-sm-none" style="justify-content: space-evenly;">
    <div class="flex-column">
        <div class="card" style="padding: 1.3rem !important; background-color: #6360FF;">
            <small class="text-wrap text-white text-center"></small>
        </div>
    </div>
    <div class="flex-column">
        <div class="card" style="padding: 1.3rem !important; background-color: #FFC960;">
            <small class="text-wrap text-white text-center"></small>
        </div>
    </div>
    <div class="flex-column">
        <div class="card" style="padding: 1.3rem !important; background-color: #6360FF;">
            <small class="text-wrap text-white text-center"></small>
        </div>
    </div>
    <div class="flex-column">
        <div class="card" style="padding: 1.3rem !important; background-color: #34C759;">
            <small class="text-wrap text-white text-center"></small>
        </div>
    </div>
</div>