<div class="container-fluid card-bg w-100 cards-container">
    <strong class="justify-content-center align-items-center text-center pb-1">
      Ordem de Serviços
    </strong>
    <div class="cards-scroll justify-content-center mb-4" (scroll)="onScroll($event)">
      <div *ngFor="let card of ordensServico | async; let i = index" class="col-11 col-lg-6 col-xl-4"
          (mouseenter)="hoveredCardIndex = i" (mouseleave)="hoveredCardIndex = null">
        
        <div class="card position-relative" [ngClass]="{'selected-card': hoveredCardIndex === i}"
            (click)="selectCard(i)">
          <div class="card-ribbon" [ngStyle]="{'background-color': getRibbonColor(card.orcamento ? '1' : card.status)}"></div>
          <div class="d-flex align-items-center w-100">
            <!-- Informações do equipamento -->
            <span class="truncate-text text-900 font-medium d-inline-flex align-items-center">
              ID.{{ card.ofcEquipamento?.id }} - {{ card.ofcEquipamento?.modelo }} - 
              {{ card.ofcEquipamento?.serie }} {{ card.ofcEquipamento?.tag }}
              
              <!-- Retângulo logo ao lado do equipamento -->
              <div *ngIf="card.ordemServicoEtapa?.length > 0" class="teste-box-container ms-5">
                <div class="teste-box">
                  {{ card.ordemServicoEtapa[card.ordemServicoEtapa.length - 1]?.oficinaEtapa?.descricao }}
                </div>
                <span 
                  class="pill"
                  [ngStyle]="{ 'background-color': card.ordemServicoEtapa[card.ordemServicoEtapa.length - 1]?.atual ? 'var(--primary-color)' : '#8E8E93' }">
                  {{ card.ordemServicoEtapa[card.ordemServicoEtapa.length - 1]?.atual ? 'Iniciado' : 'Finalizado' }}
                </span>
              </div>                      
              
            </span>
          </div>
          <span style="font-weight: bold !important; font-size: 14px;">{{ !card.orcamento ? 'O.S' : 'ORÇAMENTO' }} {{ card.numeroDocumento }}</span>
          <span>
            <small style="font-weight: bold;">{{ getPriorityLabel(card.prioridade) }}</small>
            <small class="pl-2 text-400" style="font-size: 10px !important;">• {{ card.usuario?.nome }} •</small>
            <small class="pl-2 text-400" style="font-size: 10px !important;">{{ card.dataAbertura | date:'dd/MM/yyyy HH:mm' }}</small>
          </span>
        </div>
      </div>
    </div>
  </div>
  