<div class="footer d-flex w-100" style="height: 4rem;">
    <div class="d-flex gap-8 w-100 container-fluid rounded-pill justify-content-center" style="background-color: #FCFCFF;">
        <button class="p-link layout-topbar-button">
            <i class="pi pi-home" style="font-size: 1.5rem;"></i>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-search" style="font-size: 1.5rem;"></i>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user" style="font-size: 1.5rem;"></i>
        </button>
    </div>
</div>