<style>
.icon-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
}

.icon-button i {
    position: absolute;
    color: inherit;
}

::ng-deep ol, ::ng-deep ul {
    padding-left: 0rem !important;
}

</style>

<div class="layout-topbar d-flex align-items-center" style="background-color: #6360FF;">
    <button class="p-link icon-button" (click)="userMenu.toggle($event)">
        <i class="pi pi-user" style="font-size: 2rem; color: #6360FF;"></i>
    </button>
    <div class="pl-5 text-white d-flex flex-column">
        <small>Bem Vindo</small>
        <span>{{ nome }}</span>
    </div>

    <p-menu #userMenu [popup]="true" [model]="items"></p-menu>

    <div class="ml-auto">
        <button class="p-link pr-5">
            <i class="pi pi-bell" style="font-size: 2rem; color: white;"></i>
        </button>
    </div>
</div>