<style>
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden; /* Remove o scroll geral */
    }

    .container-fluid {
        padding: 0;
    }

    .bg {
        background-color: #F1F1FA !important;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .separator {
        height: 2rem;
        background-color: #6360FF;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 15rem);
        overflow: hidden;
        padding: 1rem;
        box-sizing: border-box;
    }

    .cards-scroll {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        overflow-y: auto; /* Aplica scroll somente no conteúdo dos cards */
        padding: 0.1rem;
        height: 100%; /* Permite que o conteúdo role apenas dentro desse espaço */
    }

    .card-ribbon {
        width: 7px;
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
</style>

<div class="container-fluid w-100 flex-wrap bg">
    <app-status></app-status>
</div>

<div class="separator"></div>

<div class="container-fluid pt-5 bg w-100 cards-container">
    <strong class="justify-content-center align-items-center text-center pb-1">Ordem de Serviços</strong>
    <div class="cards-scroll justify-content-center mb-7">
        <div *ngFor="let card of cards" class="col-10 col-lg-6 col-xl-4">
            <div class="card position-relative">
                <div class="card-ribbon" [ngStyle]="{'background-color': getRibbonColor(card.status)}"></div>
                <div class="d-flex justify-content-between ">
                    <div>
                        <span class="d-block text-500 font-medium">{{ card.title }}</span>
                        <div class="text-900 font-medium text-xl">{{ card.count }}</div>
                    </div>
                    <div class="d-flex align-items-center justify-content-center {{ card.bgColor }} border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi {{ card.icon }} {{ card.iconColor }} text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{ card.new }} new </span>
                <span class="text-500">since last visit</span>
            </div>
        </div>
    </div>
</div>
