<div class="container-fluid bg d-flex align-items-center py-4 px-4">
    <button class="p-reset text-white d-flex align-items-center" (click)="voltar()">
        <i class="pi pi-chevron-left"></i>
        <span class="ml-2">{{ modelo.orcamento ? 'Orçamento' : 'Ordem' }} {{ modelo.numeroDocumento }}</span>
    </button>    
</div>

<div class="d-flex main-container">
    <div class="container-fluid w-100 responsivity">
        <div class="d-flex justify-content-center">

            <div *ngIf="!tabTree" class="content">
                <div class="d-flex justify-content-center align-items-center py-3">
                    <div class="col-6 d-flex justify-content-center">
                        <span class="font-weight-bold h5 text-center">Informações {{ modelo.orcamento ? 'do Orçamento' : 'da Ordem' }} de serviço</span>
                    </div>
                </div>

                <div class="info-grid ml-2 mr-2" *ngFor="let info of informacoes">
                    <div>
                        <span class="font-weight-bold d-block">{{ info.campo1 }}</span>
                        <span class="text-muted">{{ info.valor1 }}</span>
                    </div>
                    <div class="justify-content-end align-items-end text-right">
                        <span class="font-weight-bold d-block">{{ info.campo2 }}</span>
                        <span class="text-muted">{{ info.valor2 }}</span>
                    </div>
                </div>

                <app-dialog-base [titulo]="dadosDialog.titulo" [(visible)]="dialogVisible">
                    <ng-container [ngSwitch]="dadosDialog.titulo">
                        <div *ngSwitchCase="'Equipamento'" class="equipamento-dialog">
                            {{ modelo.ofcEquipamento | json }}
                            <div class="grid-container">
                                <div class="input-group">
                                    <label for="codigo">Código</label>
                                    <input pInputText id="codigo" 
                                           [(ngModel)]="modelo.ofcEquipamento.codigo" 
                                           [disabled]="true"/>
                                </div>
                                
                                <div class="input-group">
                                    <label for="modelo">Modelo</label>
                                    <input pInputText id="modelo" 
                                           [(ngModel)]="modelo.ofcEquipamento.modelo" 
                                           [disabled]="true"/>
                                </div>
                        
                                <div class="input-group">
                                    <label for="serie">Série</label>
                                    <input pInputText id="serie" 
                                           [(ngModel)]="modelo.ofcEquipamento.serie" 
                                           [disabled]="true"/>
                                </div>

                                <div class="input-group">
                                    <label for="tag">TAG</label>
                                    <input pInputText id="tag" 
                                           [(ngModel)]="modelo.ofcEquipamento.tag" 
                                           [disabled]="true"/>
                                </div>

                                <div class="input-group">
                                    <label for="rede">Rede</label>
                                    <input pInputText id="rede" 
                                           [(ngModel)]="modelo.ofcEquipamento.rede" 
                                           [disabled]="true"/>
                                </div>

                                <div class="input-group">
                                    <label for="frequencia">Frequencia</label>
                                    <input pInputText id="frequencia" 
                                           [(ngModel)]="modelo.ofcEquipamento.frequencia" 
                                           [disabled]="true"/>
                                </div>
                                <div class="input-group">
                                    <label for="dataFabricacao">Data de Fabricação</label>
                                    <input pInputText id="dataFabricacao" 
                                           [value]="formatarData(modelo.ofcEquipamento.dataFabricacao ?? '')"
                                           dateFormat="dd.mm.yy"
                                           [disabled]="true"/>
                                </div>
                                <div class="input-group">
                                    <label for="oficinaTipoEquipamento">Tipo Equipamento</label>
                                    <input pInputText id="oficinaTipoEquipamento" 
                                           [(ngModel)]="modelo.ofcEquipamento.oficinaTipoEquipamento.descricao" 
                                           [disabled]="true"/>
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'Cliente'" class="equipamento-dialog">
                            {{ modelo.cliente | json }}
                            <div class="grid-container">
                                <div class="input-group">
                                    <label for="username">Razão Social</label>
                                    <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="modelo.cliente.razaoSocial" [disabled]="true"/>
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'Info. Complementares'" class="equipamento-dialog">
                            <div class="grid-container">
                                <div class="input-group">
                                    <label for="username">Problema Relatado</label>
                                    <textarea rows="10"cols="105" pTextarea [disabled]="true" [(ngModel)]="modelo.condicoes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'Anexos'" class="equipamento-dialog"></div>
                      </ng-container>
                </app-dialog-base>

                <div class="info-card">
                    <app-info-card imgClass="engine" class="marg-left" icon="assets/images/engine.png" titulo="Equipamento" (click)="abrirDialog('equipamento')"></app-info-card>
                    <app-info-card imgClass="client" icon="assets/images/cliente.png" titulo="Cliente" (click)="abrirDialog('cliente')"></app-info-card>
                </div>

                <div class="info-card">
                    <app-info-card imgClass="info" class="marg-left" icon="assets/images/info.png" titulo="Info. complementares" (click)="abrirDialog('infoComplementar')"></app-info-card>
                    <app-info-card icon="assets/images/galeria.png" titulo="Anexos" (click)="abrirDialog('anexo')"></app-info-card>
                </div>

                <div class="d-flex flex-wrap justify-content-center mt-3">
                    <div class="col-12 md:col-6">
                        <button *ngIf="!etapaIniciada" style="border-radius: 5px; background-color: var(--success-color);" class="w-100 btn text-white" (click)="acaoEtapa('iniciar')">
                            Iniciar Etapa
                        </button>
                        <button *ngIf="etapaIniciada" style="border-radius: 5px; background-color: var(--error-color);" class="w-100 btn text-white" (click)="acaoEtapa('finalizar')">
                            Finalizar Etapa
                        </button>
                    </div>
                </div>
                
            </div>

            <div *ngIf="tabTree" class="content">
                <app-tab-tree></app-tab-tree>
            </div>
        </div>
    </div>
</div>